body {
    background: linear-gradient(155.27deg, #0083d8 -326.75%, #111111 74.45%);
    background: #031827;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

::-webkit-scrollbar {
    width: 11px;
    cursor: pointer;
    display: none;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(19, 129, 230, 0.8);
}

/* Search container */

.search-bar {
    width: 40%;
    height: 2em;
    display: flex;
    border: 2px solid rgba(207, 205, 205, 0.603);
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 2;
}
.search-icon {
    width: 4em;
}
.search-query {
    width: 65%;
    height: 100%;
}
.search-filter {
    width: 9em;
    height: 100%;
}

/* Order and cart  */
.nav-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.nav-elements-li {
    text-decoration: none;
    color: black;
    font-family: "Inter", "sans-serif";
}

/* cards styling */

.container {
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
}

.card-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    /* border: 2px solid green; */
    justify-content: space-around;
}
.card-container p {
    color: whitesmoke;
}
.card-container h1 {
    color: red;
}
.cards {
    width: 14rem;
    height: 16rem;
    margin-top: 2rem;
    background: linear-gradient(180deg, rgba(7, 95, 176, 0.8) 0%, #0c2943 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    position: relative;
}

.card-img-div {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-div img {
    width: 100%;
    height: 100%;
}
.card-details-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5em;
}
.card-details-div button {
    padding: 0.3em;
    font-size: 12px;
}
.card-details {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.cards p,
.cards span {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
}

.cards p {
    font-weight: 600;
    font-size: 20px;
}

.cards span {
    font-weight: 300;
    font-size: 16px;
}

/* card details page  */

.card-details-container img {
    width: 30%;
}

/* pop up */

.pop-up-btn {
    padding: 0.5em;
}

/* pop up div  */
#Location {
    width: 30%;
    height: 20%;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    position: absolute;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    flex-direction: column;
    border-radius: 8px;
    z-index: 4;
}

.pop-up-img-div {
    position: absolute;
    top: 10px;
    right: 20px;
}

.pop-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
#button-1-button {
    padding: 0.75em 2em;
    color: white;
    background: #174d86;
    border-radius: 4px;
    outline: 0;
    border: 0;
}
#button-2-button {
    padding: 0.75em 2em;
    color: white;
    background: #174d86;

    border-radius: 4px;
    outline: 0;
    border: 0;
}

/* fade-bg  */

.fade-bg {
    position: absolute;
    width: 100%;
    height: 150vh;
    background: #111111;
    top: 0;
    left: 0;
    /* display: none; */
    opacity: 0.8;
    z-index: 3;
}

/* Drop down with only text*/

.drop-down-container {
    position: relative;
}
.drop-down-div {
    position: absolute;
    left: 0;
    right: 0;
    background: rgb(10, 23, 41);
    z-index: 4;
    height: 60vh;
    overflow-y: scroll;
}

.filter-elements-ul {
    list-style-type: none;
    padding: 0.2em 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-elements-div ul:hover {
    background: #0083d8;
}

.filter-elements-div li {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-button-text {
    margin: 0;
}
.drop-down-img {
    width: 32px;
    height: 32px;
    padding: 0 0.5em;
}

.img-btn-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
