body {
    background: linear-gradient(155.27deg, #0083d8 -326.75%, #111111 74.45%);
    background: #031827;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.search-bar {
    width: 40%;
    height: 30%;
    display: flex;
    border: 2px solid rgba(207, 205, 205, 0.603);
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 4;
}

.search-query {
    width: 30%;
    height: 30%;
}
.search-filter {
    width: 9em;
    height: 100%;
}

.nav-elements ul {
    display: flex;
    list-style-type: none;
}
.nav-elements ul li {
    padding: 0 2em;
}
.nav-elements ul li a {
    text-decoration: none;
    color: white;
}
.container {
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
}

.card-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    /* border: 2px solid green; */
    justify-content: space-around;
}
.card-container p {
    color: whitesmoke;
}
.card-container h1 {
    color: red;
}
.cards {
    width: 14rem;
    height: 16rem;
    margin-top: 2rem;
    background: linear-gradient(180deg, rgba(7, 95, 176, 0.8) 0%, #0c2943 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}

.card-img-div {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-div img {
    width: 100%;
    height: 100%;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
}
.cards p,
.cards span {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
}

.cards p {
    font-weight: 600;
    font-size: 20px;
}

.cards span {
    font-weight: 300;
    font-size: 16px;
}

/* pop up */

#Location {
    width: 30%;
    height: 20%;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    position: absolute;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    flex-direction: column;
    border-radius: 8px;
    z-index: 4;
}

.pop-up-img-div {
    position: absolute;
    top: 10px;
    right: 20px;
}
#button-1-button {
    padding: 0.75em 2em;
    color: white;
    background: #174d86;
    border-radius: 4px;
    outline: 0;
    border: 0;
}
#button-2-button {
    padding: 0.75em 2em;
    color: white;
    background: #174d86;

    border-radius: 4px;
    outline: 0;
    border: 0;
}

.pop-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.fade-bg {
    position: absolute;
    width: 100%;
    height: 150vh;
    background: #111111;
    top: 0;
    left: 0;
    /* display: none; */
    opacity: 0.8;
    z-index: 2;
}

/* Drop down */

.drop-down-container {
    position: relative;
}
.drop-down-div {
    position: absolute;
    left: 0;
    background: rgb(10, 23, 41);
    z-index: 4;
}

.filter-elements-ul {
    list-style-type: none;
    padding: 0.25em 1em;
    z-index: 2;
}
.filter-elements-div ul:hover {
    background: #0083d8;
}

.filter-elements-div li {
    color: white;
}
